body {
    margin: 0;
    padding: 20px;
    background-color: hsl(0, 0%, 95%);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px); /* adjusts for header space */
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 40%);
    color: white;

}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 30px;
    border: none;
    background-color: hsl(0, 0%, 31%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 45%);
}
button:active{
    background-color: hsl(0, 0%, 55%);
}
.operator-btn{
    background-color: rgb(115, 138, 158);
}
.operator-btn:hover{
    background-color: rgb(153, 179, 203);
}
.operator-btn:active{
    background-color: rgb(204, 224, 243);
}
.equals-btn {
    background-color: rgb(64, 143, 88); /* a soft green */
    color: white;
}

.equals-btn:hover {
    background-color: rgb(85, 168, 110);
}

.equals-btn:active {
    background-color: rgb(108, 190, 133);
}
